

@{
    ViewData["Title"] = "CreateCategories";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container">
    <div class="page-inner"> 
        <div class="page-header">
            <h3 class="fw-bold mb-3">One Cikan Kategoriler Listesi</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">One Cikan Kategoriler Listeleri</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">One Cikan Kategoriler Operasyonlari</a>
                </li>
            </ul>
        </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Yeni One Cikan Kategori Olustur</div>
                  </div>
                  <div class="card-body">
                     <form role="form" method="post" action="/admin/CreateCategories">
                         @* <label>Kucuk Slider Basligi</label>
                         <input type="text" asp-for="SliderKucukTitle" class="form-control" />
                         <br /> *@
                             <label>Kategori Isim</label>
                             <input type="text" name="kategoriIsimParametre" class="form-control" />
                             <br />
                             <label>Kategori Aktiflik</label>
                             <select class="form-control" name="kategoriStatusParametre">
                                 <option value="1">Aktif</option>
                                 <option value="0">Pasif</option>
                             </select>

                         <br />
                         <button type="submit" class="btn btn-primary">One Cikan Kategori Olustur</button>

                     </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> 




