@using System.Data

@{
    ViewData["Title"] = "CreateUrun";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    DataSet KategorilerSelectDataSet = ViewBag.KategorilerSelectViewBag as DataSet;
}


<div class="container">
    <div class="page-inner"> 
        <div class="page-header">
            <h3 class="fw-bold mb-3">Urunler</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Urunler Listeleri</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Urun Operasyonlari</a>
                </li>
            </ul>
        </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Yeni Urun Ekle</div>
                  </div>
                  <div class="card-body">
                     <form role="form" action="/admin/CreateUrun" method="post">
                         <input type="hidden" name="UrunIdParametre">
                         
                         <div class="col-md-12">
                             <label>Urun Ismi</label>
                             <textarea class="form-control" name="UrunIsimParametre" rows="1" placeholder="Urun Isim"></textarea>
                         </div>
                         <br />
                         <div class="col-md-12">
                             <label>Urun Aciklama</label>
                             <textarea class="form-control" name="UrunAciklamaParametre" rows="4" placeholder="Urun Aciklama"></textarea>
                         </div>
                         <br />
                         <div class="col-md-3">
                            <label>Urun Fiyat</label>
                            <input type="number" class="form-control" name="UrunFiyatParametre" step="0.01" min="0" placeholder="Urun Fiyat"/>
                         </div>
                         <br />

                         <div class="col-md-6">
                             <label>Kategori</label>
                             <select class="form-control" id="KategoriSec" placeholder="Kategori Secin">
                                    <option value="">Kategori Secin</option>
                                    @{
                                        foreach (DataRow sira in KategorilerSelectDataSet.Tables[0].Rows)
                                        {
                                            <option value="@sira["kategoriId"]">@sira["kategoriIsim"]</option>
                                        }
                                    }
                             </select>
                         </div>
                         <br />
                         <div id="olusanButon" class="margin-top: 12px;"></div>
                        
                         <br />
                         <br />
                         <div class="col-md-6">
                             <label>Urun Aktiflik</label>
                             <select class="form-control" name="UrunStatusParametre" placeholder="Aktifligi Belirleyin">
                                 <option value="1">Aktif</option>
                                 <option value="0">Pasif</option>
                             </select>
                         </div>
                         <br />
                         <button type="submit" class="btn btn-primary">Urun Ekle</button>
                         

                     </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
    function previewImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('resimOnizleme');

        if (!file) return;

        if (!file.type.startsWith('image/')) {
            alert("Lütfen bir resim seçiniz.");
            event.target.value = "";
            return;
        }

        const maxSize = 5 * 1024 * 1024;
        if (file.size > maxSize) {
            alert("Resim 5MB altı olmalı.");
            event.target.value = "";
            return;
        }

        const url = URL.createObjectURL(file);
        preview.src = url;
    }
</script>


<script>
    // buradaki "Map()" kodu verileri (key(id), value(string vb.)) seklinde tutar. peki birden fazla value alabilir mi?
    // secilen butun kategori verileri bu "Map()" icinde tutulur. ornek: 14=Elektronik, 27=Giyim, 8=Mobilya
    const IdveIsimAlanMapKismi = new Map();


    // burasi kullanici dropdownda secim yaptiginda tetiklenir. 
    document.getElementById('KategoriSec').addEventListener('change', function () {
// buradaki "const id" secilen <option value = 1> den 'value' degerini alir yani 1.
        const id = this.value;
// "const isim" ise secilen degerin ekranda gorulen metnini alir.
        const isim = this.options[this.selectedIndex].text;

        // id bossa veya daha onceden o id secildiyse
        if (id == "" || IdveIsimAlanMapKismi.has(id)) {
        //  bu kod dropdown menuyu sifirlamaya yariyor. yinede sor.
            this.value = '';
            return;
        }

    //  Kontrol alani gecildi. o halde id ve isim'i Map()'e kaydet.
        IdveIsimAlanMapKismi.set(id, isim);
    // "renderButonlar();" fonksiyonu "Map()" icinde bulunan verileri ekrana cizer.
        renderButonlar();
        this.value = ''; // Dropdown'ı sıfırla, tekrar seçilebilsin
    });

    function renderButonlar() {
    // bu kod "document.getElementById('olusanButon');" butonlarin konulacagi alani buluyor.
        const butonlarinKonulacagiAlan = document.getElementById('olusanButon');
    // bu kod "Map()" icindeki tum butonlari her seferinde ekrana yeniden yazmasin diye ekliyoruz.
    // bu alana her seferinde sadece secilen yazilsin diye ekledik.
        butonlarinKonulacagiAlan.innerHTML = '';

        IdveIsimAlanMapKismi.forEach(function(isim, id) {


            const _Buton = document.createElement('button');
            _Buton.type = 'button';
            _Buton.className = 'Kategori-Silme-Butonu mt-1 me-1';
            _Buton.textContent = isim;      

            _Buton.addEventListener('click', function() {
                IdveIsimAlanMapKismi.delete(id); 
                renderButonlar();                
            });

            butonlarinKonulacagiAlan.appendChild(_Buton);

            const kategoriIdGonder = document.createElement("input")
            kategoriIdGonder.type = 'hidden';
            kategoriIdGonder.name = "KategoriIdParametre";
            kategoriIdGonder.value = id;

            butonlarinKonulacagiAlan.appendChild(kategoriIdGonder);


        });
    }
</script>




