@model List<EntityLayer.Concrete.TopCategoryArea>;

    <div class="top_catagory_area section-padding-2 clearfix">
        <div class="container">
            <div class="row justify-content-center g-4">
                    @foreach (var esya in Model)
                    {
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(@esya.TopCategoryAreaImageUrl);">
                                            <div class="catagory-content">
                                                <a href="../sliders/sliderlist">@esya.TopCategoryAreaBaslik</a>
                                            </div>
                                        </div>
                                    </div>
                    }
            </div>
        </div>
    </div>