@model List<EntityLayer.Concrete.Slider>

<section class="welcome_area bg-img background-overlay" style="background-image: url(/BUDUR-e-commerce/img/bg-img/bg-1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                    @foreach (var esya in Model)
                    {
                        <h6>@esya.SliderKucukTitle</h6>
                        <h2>@esya.SliderTitle</h2>
                        <a href="/sliders/sliderlist/" class="btn essence-btn">@esya.ImageUrl</a>
                    }
                    </div>
                </div>
            </div>
        </div>
    </section>