@using System.Data

@{
    DataSet SelectSliderDataSet = ViewBag.SelectSliderViewBag as DataSet;
    
}
<style>
    .container1{
        padding: 1rem;
    }
@*Slider Imagelerin Boyutunu Degistiren Kisim*@
    .slider-wrapper1{
        position: relative;
        max-width: 82.5rem;
        margin: 0 auto;
    }

    .slider1{
        display: flex;
        aspect-ratio: 185 / 77;
        overflow-x: auto;
        scroll-behavior: smooth;
        border-radius: 0.5rem;
    }

    .slider1::-webkit-scrollbar{
        display: none;
    }

    .slider1 img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }

    .slider-nav1{
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    @*Sliderleri degistirebilmek icin noktali tiklama kisimlari*@
    .slider-nav1 a{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }

    .slider-nav1 a:hover{
        opacity: 1;
    }
</style>


<section class="container1">
    <div class="slider-wrapper1">
        <div class="slider1">
            @{
                int imgSayac = 0;
                foreach (DataRow sira in SelectSliderDataSet.Tables[0].Rows)
                {
                    <img id="slide-@imgSayac" src="@sira["ImageUrl"]" />
                    imgSayac++;
                }
            }

        <div class="slider-nav1">
            @{
                int navSayac = 0;
                foreach (DataRow sira in SelectSliderDataSet.Tables[0].Rows)
                {
                    <a href="#slide-@navSayac"></a>
                    navSayac++;
                }
            }
        </div>
    </div>
</div>
</section>
