@using System.Data
@{
    DataSet kategorilerViewBagi = ViewBag.kategorilerViewBag as DataSet;
}

<style>
    .gri-category-bar {
        display: none;
        background-color: #f8f9fa;
        border-bottom: 1px solid #ebebeb;
        padding: 10px 0;
        width: 100%;

        position: sticky;
        top: 85px;
        z-index: 999;
    }

    /* Ekran genişliği laptoptan (992px veya daha büyük) itibaren görünür yapıyoruz */
    @@media (min-width: 992px) {
        .gri-category-bar {
            display: block; /* Laptop ve masaüstü ekranlarda görünür hale gelir */
        }
    }

    .gri-category-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 5%;
    }

    .gri-category-menu-list {
        display: flex;
        justify-content: center;
        /*Bu kod kategoriler arasinda bosluk birakiyor.*/
        /* En az 15px olsun, ideal olarak ekranın %5'i olsun, ama asla 50px'i geçmesin */
        gap: clamp(15px, 5vw, 50px);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .gri-category-menu-list li a {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #252525;
        letter-spacing: 1px;
        transition: color 0.3s ease;
        text-decoration: none;
    }

/*bu kod kategorilerin uzerine gelince altlarinin cizilmesini sagliyor.*/
    .gri-category-menu-list li a:hover {
        text-decoration: underline;
    }


/*Buradan sonrasi arama cubugu style*/
    .arama-cubuk-body{
    /*Bu kisim arama cubugunun ortada cikmasina yariyor.*/
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        background: #fff;
    }

    .arama-cubuk-kutusu{
        height: 50px;
        display: flex;
        cursor: pointer;
        padding: 10px 20px;
        background: #fff;
        border-radius: 30px;
        align-items: center;
        /* box-shadow: 0 10px 25px rgba(0,0,0,0.3); */
        border: 1px solid #000;
    }

    .arama-cubuk-kutusu input{
        width: 600px;
        outline: none;
        border: none;
        font-weight: 500;
        transition: 0.8s;
        background: transparent;
    }

    .arama-cubuk-kutusu a .fa{
        color: #000;
        font-size: 18px;
        margin-right: 15px;
    }
</style>

<header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="index.html"><img src="/BUDUR-e-commerce/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    @await Component.InvokeAsync("_HomeNavbarSectionComponentPartial")
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Arama Cubugu -->
                <div class="arama-cubuk-body">
                    <div class="arama-cubuk-kutusu">
                        <a href="#">
                            <i class="fa fa-search"></i>
                        </a>
                        <input type="text" placeholder="Aramak istedigin urunu yaz, kolayca bul!">
                    </div>
                </div>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><img src="/BUDUR-e-commerce/img/core-img/heart.svg" alt=""></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#"><img src="/BUDUR-e-commerce/img/core-img/user.svg" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="/BUDUR-e-commerce/img/core-img/bag.svg" alt=""> <span>3</span></a>
                </div>
            </div>
        </div>
    </header>
                <div class="gri-category-bar">
                    <div class="gri-category-container">
                        <nav class="category-nav">
                            <ul class="gri-category-menu-list">
                                @foreach (DataRow satir in kategorilerViewBagi.Tables[0].Rows)
                                {// if icine yazdiklarini bool'a cevirmen gerekiyor.
                                    if (Convert.ToBoolean(satir["kategoriStatus"]) == true)
                                    {
                                        <li><a href="../admin">@satir["kategoriIsim"]</a></li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>